/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2015, 10:22:28 PM
    Author     : Olawale Onigemo
*/

//Changes the toolbar where the new slide show, load, save, exit and change text buttons are.
.file_toolbar_pane {
    -fx-alignment:TOP_LEFT;
    -fx-background-color: rgb(0, 51, 255);
    -fx-hgap: 60px;


}

.site_toolbar_pane{
    -fx-alignment: TOP_CENTER;
    //-fx-background-color: rgb(255, 255, 0);
    -fx-background-color: #7B7B7B;
    -fx-hgap: 15px; 
}


.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-spacing: 50px;
}


site_toolbar_button{
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-spacing: 50px;
}


//This is for the slideshow toolbar
.vertical_toolbar{
    -fx-background-color:#73D991;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 80px;  
}
.vertical_buttons{

}

//For the area with the buttons to edit a page. 
.page_edit_vbox{

  -fx-background-color: #A2A2A2;
    
    -fx-spacing: 10px;
    -fx-alignment:TOP_CENTER;
}

.tab{
    -fx-background-color: white;
}

//For the "Language Options" region.
.dialog-pane:header *.header-panel{
    -fx-background-color: #898AFE;
}

.dialog-pane:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;

    -fx-fill: #292929;
    -fx-font-weight: bold;
}

//This is for the "Choose your language below"
.dialog-pane {
    -fx-background-color: #01A9A8;
}

.dialog-pane > *.label.content{
    -fx-font-size: 18px;
    -fx-font-style: italic; 
    -fx-font-color: white;
    -fx-color: white;
    -fx-font-weight: bold;
}

.slide_edit_vbox_edit_vbox{
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(196, 255, 106);
    -fx-border-color: rgb(255, 255, 0);
    -fx-alignment:center;
    -fx-spacing: 80px;
}

.page_edit_view{
    -fx-background-color: white;
    -fx-font-size: 30px;
}

.highlight{
    -fx-border-color: blue;
    -fx-border-thickness: 50px;
}

.caption_text{
    
    -fx-spacing: 10px;
    -fx-alignment:TOP_CENTER;
}